# Get SpatialReal App ID: https://docs.spatialreal.ai/overview/get-apikeys
# Get SpatialReal Avatar ID (more test avatars): https://app.spatialreal.ai/avatars/library
VITE_SPATIALREAL_APP_ID=your_spatialreal_app_id
VITE_SPATIALREAL_AVATAR_ID=6aed28f9-674c-4ffb-89ee-b447b28aa3ed
