# SpatialReal App ID 获取：https://docs.spatialreal.ai/overview/get-apikeys
# SpatialReal Avatar ID（更多测试人物）获取：https://app.spatialreal.ai/avatars/library
VITE_SPATIALREAL_APP_ID=your_spatialreal_app_id
VITE_SPATIALREAL_AVATAR_ID=6aed28f9-674c-4ffb-89ee-b447b28aa3ed
