LIVEKIT_URL=wss://your-project.livekit.cloud #https://cloud.livekit.io
LIVEKIT_API_KEY=your_livekit_api_key #https://cloud.livekit.io
LIVEKIT_API_SECRET=your_livekit_api_secret #https://cloud.livekit.io
 
GOOGLE_API_KEY=your_google_api_key #https://aistudio.google.com/api-keys
E2E_GOOGLE_MODEL=gemini-2.5-flash-native-audio-preview-12-2025
E2E_GOOGLE_VOICE=Puck

SPATIALREAL_API_KEY=your_spatialreal_api_key #https://app.spatialreal.ai/apps
SPATIALREAL_APP_ID=your_spatialreal_app_id #https://app.spatialreal.ai/apps
SPATIALREAL_AVATAR_ID=6aed28f9-674c-4ffb-89ee-b447b28aa3ed #https://app.spatialreal.ai/avatars/library
